<div class="dialog-content-container">
  <h1 mat-dialog-title>{{ data.title }}</h1>
  <div mat-dialog-content>
    <ng-container *ngIf="data.medalla; else defaultContent">
      <div class="dialog-medalla">
        <img [src]="'/assets/medallas/' + data.medalla.icono_url" alt="Medalla" class="dialog-image" />
        <p><strong>Tipo:</strong> {{ data.medalla.nombre === 'Personalizada' ? data.medalla.nombre_personalizado :
          data.medalla.nombre }}</p>
        <p><strong>Descripción:</strong> {{ data.medalla.descripcion }}</p>
        <p><strong>Asignada por:</strong> {{ data.medalla.asignado_por_nombre }}</p>
        <p><strong>Mensaje:</strong> {{ data.medalla.titulo }}</p>
        <p><strong>Fecha:</strong> {{ data.medalla.fecha_asignacion | date: 'dd/MM/yy' }}</p>
      </div>
    </ng-container>
    <ng-template #defaultContent>
      <ng-container *ngIf="isHtmlContent; else textContent">
        <div [innerHTML]="data.message" class="dialog-html-content"></div>
      </ng-container>
      <ng-template #textContent>
        <p>{{ data.message }}</p>
        <div *ngIf="personajes.length > 0">
          <mat-form-field appearance="fill">
            <mat-label>Selecciona un personaje</mat-label>
            <mat-select [(value)]="personajeSeleccionado">
              <mat-option *ngFor="let personaje of personajes" [value]="personaje">
                {{ personaje.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </ng-template>
    </ng-template>
  </div>
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="false" *ngIf="data.showCancel">Cancelar</button>
    <button mat-button [mat-dialog-close]="personajeSeleccionado || true" cdkFocusInitial
      [disabled]="personajes.length > 0 && !personajeSeleccionado">
      Aceptar
    </button>
  </div>
</div>