<div class="chat-container">
    <div class="title-container">
        <h2>KILLER DE {{nombrePersonaje | uppercase}}</h2>
        <span>{{personaje ? personaje.nick : ''}}</span>
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="utils.navegar('buzon/mensajes')">
            <mat-icon class="material-symbols-outlined">email</mat-icon>
            Mi Buzón
        </button>
        <button mat-menu-item (click)="utils.navegar('medallas')">
            <mat-icon class="material-symbols-outlined">social_leaderboard</mat-icon>
            Medallas
        </button>
        <button mat-menu-item disabled>
            <mat-icon class="material-symbols-outlined">person_play</mat-icon>
            Retos
        </button>
    </mat-menu>

    <div class="image-container">
        <img [src]="imagenPersonaje" [ngStyle]="utils.getBordeStyle(personaje)" />
    </div>

    <div class="button-container">
        <button mat-raised-button class="buzon" (click)="utils.navegar('mi-espacio')">
            <mat-icon class="material-symbols-outlined">folder_shared</mat-icon>
            Mi Espacio
        </button>
        <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button">
            <mat-icon class="material-symbols-outlined">menu</mat-icon>
            Secciones
        </button>
    </div>

    <hr class="separator" />

    <div class="button-container" *ngIf="personaje">
        <button mat-raised-button [class.active]="seccionActiva === 'estado'" (click)="cambiarSeccion('estado')"
            class="config">
            Estado
        </button>
        <button mat-raised-button [class.active]="seccionActiva === 'mi-equipo'" (click)="cambiarSeccion('mi-equipo')"
            class="config">
            Mi equipo
        </button>
        <button mat-raised-button [class.active]="seccionActiva === 'inventario'" (click)="cambiarSeccion('inventario')"
            class="config">
            Inventario
        </button>
    </div>

    <div class="stats refresh" *ngIf="personaje && seccionActiva === 'estado'">
        <div class="header-container">
            <h2>Estado</h2>
            <button class="update-icon" mat-icon-button (click)="actualizarDatos(equipo.equipo)">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <div class="estado" [ngClass]="{'crucificado': equipo.vida === 0}" *ngIf="equipo && equipo.asignado">
            <p class="equipo">Estado: {{(equipo.vida ? 'vivo🌚' : '✟ crucifixión ✟') | uppercase}}</p>
            <p class="equipo">Defensa: {{equipo.escudo}}🛡️</p>
            <div *ngIf="equipo.escudo_objetivo === 0 && equipo.vida === 1 && equipo?.vida_objetivo === 1">
                <p class="equipo">Objetivo: {{equipo.escudo_objetivo === 0 ? equipo.objetivo : 'No visible*🔪'}}</p>
                <p class="equipo">Misión: {{equipo.escudo_objetivo === 0 ? equipo.mision : 'No visible*🔪'}}</p>
            </div>
            <div *ngIf=" equipo?.vida === 1 && (equipo?.vida_objetivo === 0 || equipo?.vida_objetivo === null)">
                <p class="copy info">Ya has matado a tu objetivo.<br>Espera una reasignación.</p>
            </div>
            <div class="buttons-killer" *ngIf="equipo.vida === 1">
                <button mat-raised-button class="atacar" (click)="realizarAtaque()"
                    *ngIf="equipo?.escudo_objetivo === 0 && equipo?.vida_objetivo === 1"
                    [disabled]="ataqueDeshabilitado">
                    🔪 Voy a atacar
                </button>
                <button mat-raised-button class="muerto" (click)="heMuerto()" *ngIf="equipo?.escudo === 0">
                    ☠️ He muerto
                </button>
            </div>
        </div>

        <div
            *ngIf="!equipo?.objetivo && equipo?.vida === 1 && (equipo?.vida_objetivo !== 0 && equipo?.vida_objetivo !== null)">
            <p class="copy info">Tu objetivo aparecerá cuándo no tenga defensa.<br>Sólo podrás matarle en ese estado.
            </p>
        </div>

        <div
            *ngIf="ataqueDeshabilitado && equipo?.escudo_objetivo === 0 && equipo?.vida === 1 && equipo?.vida_objetivo === 1">
            <p class="copy info">Tienes un killer en proceso.</p>
        </div>
    </div>

    <div class="stats mi-equipo refresh" *ngIf="personaje && seccionActiva === 'mi-equipo'">
        <div class="header-container">
            <h2>Mi Equipo</h2>
            <button class="update-icon" mat-icon-button (click)="actualizarDatos(equipo.equipo)">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <div *ngIf="equipo?.asignado">
            <div class="estado">
                <p class="equipo">
                    Tu equipo es el
                    <span
                        [ngStyle]="{'color': equipo.equipo === 'rojo' ? 'red' : equipo.equipo === 'azul' ? 'blue' : 'black'}">
                        {{equipo.equipo | uppercase}}
                    </span>
                </p>
                <p class="equipo">Vivos: {{equipoElegidoVivos}} de {{equipoElegido}}</p>
                <p class="equipo">Puntos: {{puntosEquipoElegido}}</p>
            </div>
        </div>
        <div *ngIf="personaje.rol.includes('inactivo')">
            <p class="copy">No participas en el Killer por equipos</p>
        </div>
    </div>

    <div class="stats inventario" *ngIf="personaje && seccionActiva === 'inventario'">
        <div class="header-container">
            <h2>Inventario</h2>
            <button class="info-icon" mat-icon-button (click)="abrirInfoInventario()">
                <mat-icon>info</mat-icon>
            </button>
            <button class="update-icon" mat-icon-button (click)="actualizarDatos(equipo.equipo)">
                <mat-icon>refresh</mat-icon>
            </button>
        </div>

        <div *ngIf="equipo && equipo.asignado && objetosRecogidosHoy < 2 && equipo.vida === 1">
            <p class="copy">Obtén objetos de ataque, defensa o especiales. Sólo se pueden obtener 2 por día.</p>

            <button mat-raised-button class="obtener-objeto" (click)="obtenerObjeto()"
                [disabled]="objetosRecogidosHoy >= 2 || mostrandoCuentaAtras"
                *ngIf="objetosRecogidosHoy < 2 && !mostrandoCuentaAtras">
                Obtener objeto ({{objetosRecogidosHoy}}/2)
            </button>

            <div *ngIf="mostrandoCuentaAtras" class="spinner-container">
                <mat-spinner diameter="50"></mat-spinner>
                <p>Objeto en {{ cuentaAtras }}</p>
            </div>

        </div>

        <div *ngIf="objetosRecogidosHoy >= 2 && !mostrandoCuentaAtras && equipo.vida === 1">
            <p class="copy">Hoy no hay más objetos disponibles.<br>Vuelve mañana.</p>
        </div>

        <div *ngIf="equipo && equipo.asignado && equipo.vida === 0">
            <p class="copy">No puedes obtener objetos, estás muerto.</p>
        </div>

        <hr class="separator" />

        <div class="mis-objetos" *ngIf="equipo && equipo.asignado && equipo.vida === 1">
            <div class="grid-objetos">
                <button class="objeto" *ngFor="let objeto of objetos" (click)="usarObjeto(objeto)"
                    [disabled]="objeto.usado">
                    <img [src]="'assets/objetos/' + objeto.imagen_url" alt="{{objeto.tipo}}" />
                    <p class="copy">{{objeto.nombre}}</p>
                </button>
            </div>
        </div>
    </div>

    <hr class="separator" />

    <div class="button-container-secondary">

        <button mat-raised-button class="buzon" type="button" (click)="utils.navegar('killer')">
            Killer
        </button>
        <button mat-raised-button color="warn" class="boton-cerrar" (click)="cerrarBuzon()">
            Cerrar Mi Killer
        </button>
        <button mat-raised-button class="volver" type="button" (click)="utils.navegar('inicio')">
            Volver
        </button>
    </div>
</div>