<div class="chat-container">
    <div class="title-container">
        <h2>KILLER DE {{nombrePersonaje}}</h2>
        <span>{{personaje ? personaje.nick : ''}}</span>
    </div>

    <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item (click)="utils.navegar('buzon/mensajes')">
            <mat-icon class="material-symbols-outlined">email</mat-icon>
            Mi Buzón
        </button>
        <button mat-menu-item (click)="utils.navegar('medallas')">
            <mat-icon class="material-symbols-outlined">social_leaderboard</mat-icon>
            Medallas
        </button>
        <button mat-menu-item disabled>
            <mat-icon class="material-symbols-outlined">person_play</mat-icon>
            Retos
        </button>
    </mat-menu>

    <div class="image-container">
        <img [src]="imagenPersonaje" [ngStyle]="utils.getBordeStyle(personaje)" />
    </div>

    <div class="button-container">
        <button mat-raised-button class="buzon" (click)="utils.navegar('mi-espacio')">
            <mat-icon class="material-symbols-outlined">folder_shared</mat-icon>
            Mi Espacio
        </button>
        <button mat-raised-button [matMenuTriggerFor]="menu" class="menu-button">
            <mat-icon class="material-symbols-outlined">menu</mat-icon>
            Secciones
        </button>
    </div>

    <hr class="separator" />

    <div class="button-container" *ngIf="personaje">
        <button mat-raised-button [class.active]="seccionActiva === 'estado'" (click)="cambiarSeccion('estado')"
            class="config">
            Estado
        </button>
        <button mat-raised-button [class.active]="seccionActiva === 'mi-equipo'" (click)="cambiarSeccion('mi-equipo')"
            class="config">
            Mi equipo
        </button>
        <button mat-raised-button [class.active]="seccionActiva === 'inventario'" (click)="cambiarSeccion('inventario')"
            class="config">
            Inventario
        </button>
    </div>

    <div class="stats" *ngIf="personaje && seccionActiva === 'estado'">
        <h2>Estado</h2>

        <div class="estado">
            <p>El juego aún no ha comenzado</p>
            <p class="copy">Únete a un equipo en la pestaña de 'Mi equipo'</p>
        </div>
    </div>

    <div class="prefs" *ngIf="personaje && seccionActiva === 'mi-equipo'">
        <h2>Mi equipo</h2>

        <!--<div *ngIf="!asignado && !personaje.rol.includes('inactivo')">
            <button mat-raised-button class="unirse" (click)="confirmarUnirse()" *ngIf="!mostrandoCuentaAtras">
                UNIRSE
            </button>

            <div *ngIf="mostrandoCuentaAtras" class="spinner-container">
                <mat-spinner diameter="50"></mat-spinner>
                <p>Uniéndose en {{ cuentaAtras }}</p>
            </div>

            <p class="copy">Te unirás a un equipo aleatoriamente</p>
        </div>-->

        <div *ngIf="asignado">
            <p class="equipo">
                Tu equipo es el
                <span [ngStyle]="{'color': equipo === 'rojo' ? 'red' : equipo === 'azul' ? 'blue' : 'black'}">
                    {{equipo | uppercase}}
                </span>
            </p>
            <div>
            <p>Vivos: {{equipoElegido}} de 19</p>
            <p>Muertos: {{19 - equipoElegido}} de 19</p>
            </div>
        </div>

        <div *ngIf="personaje.rol.includes('inactivo')">
            <p class="copy">No participas en el Killer por equipos</p>
        </div>

    </div>

    <div class="inventario" *ngIf="personaje && seccionActiva === 'inventario'">
        <h2>Inventario</h2>

        <div class="estado">
            <p>El juego aún no ha comenzado</p>
            <p class="copy">Únete a un equipo en la pestaña de 'Mi equipo'</p>
        </div>
    </div>

    <div class="button-container-secondary">

        <button mat-raised-button color="warn" class="boton-cerrar" (click)="cerrarBuzon()">
            Cerrar Mi espacio
        </button>
        <button mat-raised-button class="volver" type="button" (click)="utils.navegar('inicio')">
            Volver
        </button>
    </div>
</div>