.chat-container {
  margin: 10px auto;
  text-align: center;
  background: rgb(255, 255, 247);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.title-container {
  display: block;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
  text-align: center;

  h2 {
    margin: 0;
  }

  .menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    mat-icon {
      font-size: 24px;
      color: #555;
    }

    &:hover mat-icon {
      color: #000;
    }
  }
}

.buzon {
  background-color: #f8e091 !important;
  border: 1px solid #f7d461;
}

.config {
  width: 100px !important;
  font-size: 12px;
  &.active {
    background-color: #f8e091 !important;
    border: 1px solid #f7d461;
  }
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;

  img {
    width: 120px;
    height: 120px;
    border-radius: 20%;
    object-fit: cover;
  }
}

.stats {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;

  .pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f7d461;
    background-color: #f8e5a6;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;

    p {
      margin: 0;
    }
  }
}

.prefs {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
  align-items: center;

  .pill {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #f8e5a6;
    background-color: white;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    font-size: 14px;

    p {
      margin: 0;
    }
  }
}

.inventario {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-direction: column;
}

.button-container {
  margin-top: 20px;
  text-align: center;
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;

  button {
    cursor: pointer;
    border-radius: 5px;
    width: 140px;
  }
}

.button-container-secondary {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;

  button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
}

.menu-button {
  background-color: #d1e8f2 !important;
  border: 1px solid #a3d0e5;
}

.separator {
  border: none;
  border-top: 1px solid #ccc;
  margin: 15px 0;
}

// KILLER

.unirse {
  background: linear-gradient(90deg, rgb(255, 87, 87), rgb(144, 144, 255));
  color: white !important;
  width: 200px;
  margin: 3rem;
  height: 50px;
  animation: gradient-animation 5s infinite;
  background-size: 200% 200%;
}

.obtener-objeto {
  background: linear-gradient(90deg, rgb(255, 87, 87), rgb(144, 144, 255));
  color: white !important;
  width: 200px;
  margin: 1rem;
  height: 40px;
  animation: gradient-animation 5s infinite;
  background-size: 200% 200%;
}

.equipo {
  margin: 0.9rem;
  font-size: 20px;
  background-color: #fcf2d2;
  padding: 0.5rem;
  border-radius: 10px;
}

.estado {
  p {
    font-size: 16px;
  }
}

.info {
  margin-top: 10px;
}

.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 3rem;

  p {
    font-size: 16px;
    font-weight: bold;
    color: #555;
  }

  ::ng-deep circle {
    stroke: #f8e091 !important;
  }
}

.mis-objetos {
  .grid-objetos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
  }

  .objeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      text-align: center;
      margin: 0;
    }

    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}

.stats.inventario {
  display: flex;
  flex-direction: column;

  h2 {
    display: inline-block;
    margin: 0;
  }

  .info-icon {
    display: inline-block;
    margin-left: auto;
    align-self: flex-end;
    flex-shrink: 0;
  }

  .update-icon {
    left: 0;
    position: absolute;
    bottom: -7px;
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    h2 {
      margin: 0;
      text-align: center;
      flex-grow: 1;
    }
  }
}

.stats.inventario {
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido */
    position: relative;
    margin-bottom: 20px;

    h2 {
      margin: 0;
      text-align: center;
    }

    .info-icon {
      position: absolute;
      right: 0; /* Alinear el icono a la derecha */
      bottom: -7px;
    }
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.buttons-killer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;

  .atacar {
    background-color: #fad3d3 !important;
  }

  .muerto:not(:disabled) {
    background-color: #000000 !important;
    color: white !important;
  }
}

.crucificado {
  pointer-events: none;
}
