.chat-container {
  margin: 10px auto;
  text-align: center;
  background: rgb(255, 255, 247);
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 90%; /* Se adapta al ancho disponible */
  max-height: 80vh; /* Limita el alto al 80% de la ventana */
  overflow-y: auto; /* Agrega scroll vertical si el contenido supera el alto */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0 20px;
}

li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #555;
}

li:last-child {
  border-bottom: none;
}

p {
  text-align: center;
  font-size: 16px;
  color: #777;
}

.button-container-secondary {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;

  button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #d1e8f2 !important;
    border: 1px solid #a3d0e5;
  }
}
