<div class="info-container">
  <div class="title">
    <h1>Novedades</h1>
  </div>

  <div class="button-container">
    <button mat-raised-button [class.active]="seccionActiva === 'disidente'" (click)="cambiarSeccion('disidente')"
      class="config">
      Disidente FM
    </button>
    <button mat-raised-button [class.active]="seccionActiva === 'noticias'" (click)="cambiarSeccion('noticias')"
      class="config">
      Noticias
    </button>
  </div>

  <div class="avisos-section" *ngIf="seccionActiva === 'noticias'">
    <div *ngIf="avisos[currentAvisoIndex]" class="aviso-card"
      [ngClass]="'prioridad-' + avisos[currentAvisoIndex]!.prioridad" style="max-height: 50vh; overflow-y: auto;">
      <div class="aviso-content">
        <p class="aviso-mensaje" [innerHTML]="avisos[currentAvisoIndex].mensaje | newlineToBr"></p>
        <span class="aviso-fecha">{{avisos[currentAvisoIndex].fecha_envio | date:'dd/MM/yyyy HH:mm'}}</span>
      </div>
    </div>
    <div class="navigation-buttons">
      <button mat-raised-button type="button" class="descargar" *ngIf="currentAvisoIndex > 0" mat-button
        (click)="prevAviso()">Anterior</button>
      <button mat-raised-button type="button" class="descargar" *ngIf="currentAvisoIndex < avisos.length - 1" mat-button
        (click)="nextAviso()">Siguiente</button>
    </div>
  </div>

  <div class="avisos-section disidente" *ngIf="seccionActiva === 'disidente'">

    <div class="avisos-section disidente" *ngIf="seccionActiva === 'disidente'">

      <div class="audio-player">
        <audio #audioPlayer controls class="audio-element">
          <source [src]="audioActual?.url" type="audio/mpeg" />
          Tu navegador no soporta la reproducción de audio.
        </audio>
      </div>

      <div class="audio-list">
        <span *ngFor="let audio of audios; let i = index">
          <button class="audio-button" (click)="reproducirAudio(i)">
            {{ audio.nombre }}
          </button>
        </span>
      </div>

    </div>
  </div>

  <div class="button-container-secondary">
    <!--<button mat-raised-button type="button" class="descargar" (click)="descargarPDF()">Presentación Brinder</button>-->
    <button mat-raised-button type="button" (click)="utils.navegar('inicio')">Volver</button>
  </div>