<div class="editar-container">
  <h1>EDITAR PERSONAJE</h1>
  <form *ngIf="personaje" (ngSubmit)="guardarCambios()">

    <div class="image-container">
      <img [src]="personaje.image_url" [ngStyle]="utils.getBordeStyle(personaje)" />
    </div>

    <label>Nombre:</label>
    <div class="input-group">
      <input type="text" [(ngModel)]="personaje.name" name="name" required />
      <mat-checkbox class="checkbox" [checked]="personaje.activo === 'activo'" (change)="toggleActivo($event)" />
    </div>

    <label>Información:</label>
    <textarea [(ngModel)]="personaje.info_user" name="info_user"></textarea>

    <label>Killer:</label>
    <textarea class="bletal" [(ngModel)]="personaje.rol" name="rol" required
      placeholder="Personaje; Objetivo; Misión; vivo; 0; activo"></textarea>

    <label>Código personal:</label>
    <div class="input-group">
      <input matInput [type]="!mostrarPassword ? 'password' : 'text'" [(ngModel)]="personaje.codigo" name="codigo"
        readonly />
      <button mat-flac-button type="button" mat-icon-button (click)="copiarAlPortapapeles()">
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>

    <label>Imagen:</label>
    <input type="text" [(ngModel)]="personaje.image_url" name="image_url" required />

    <label>Objetos:</label>
    <div class="mis-objetos">
      <div class="grid-objetos">
        <div class="objeto" *ngFor="let objeto of objetos">
          <img [src]="'assets/objetos/' + objeto.imagen_url" alt="{{objeto.tipo}}" />
          <p class="copy">{{objeto.nombre}}</p>
        </div>
      </div>
    </div>
    <div *ngIf="objetos.length === 0" class="no-objetos">
      <p class="copy">No tiene objetos.</p>
    </div>

    <button mat-raised-button class="guardar" type="submit">Guardar Cambios</button>
    <button mat-raised-button class="volver" (click)="utils.navegar('admin')">Volver</button>
  </form>
</div>