<div class="chat-container">
    <div class="title-container">
        <h2>GESTIONAR KILLER</h2>
    </div>

    <div class="button-container">
        <button mat-raised-button class="buzon" [class.active]="seccionActiva === 'crear-log'"
            (click)="cambiarSeccion('crear-log')" class="config">
            <mat-icon>workspace_premium</mat-icon> Crear
        </button>
        <button mat-raised-button class="buzon" [class.active]="seccionActiva === 'eliminar-medallas'"
            (click)="cambiarSeccion('eliminar-medallas')" class="config">
            <mat-icon>delete</mat-icon> Eliminar
        </button>
    </div>

    <hr class="separator" />

    <div class="prefs" *ngIf="seccionActiva === 'crear-log'">
        <form (ngSubmit)="crearLog()">
            <h2>Crear Killer Log</h2>

            <mat-form-field appearance="fill">
                <mat-label>Personaje</mat-label>
                <mat-select [(ngModel)]="killerLogForm.personajes_ids" name="personajes_ids" multiple required>
                    <mat-option *ngFor="let personaje of personajes" [value]="personaje.id">
                        {{ personaje.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Equipo</mat-label>
                <mat-select [(ngModel)]="killerLogForm.equipo" name="equipo" required>
                    <mat-option [value]="'admin'">
                        Admin
                    </mat-option>
                    <mat-option [value]="'azul'">
                        Azul
                    </mat-option>
                    <mat-option [value]="'rojo'">
                        Rojo
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Acción</mat-label>
                <input matInput [(ngModel)]="killerLogForm.accion" name="accion" required />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Valor</mat-label>
                <input matInput [(ngModel)]="valorPersonalizado" name="valorPersonalizado"
                    placeholder="Introduce un valor" type="number" />
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Resultado</mat-label>
                <mat-select [(ngModel)]="killerLogForm.resultado" name="resultado" required
                    (selectionChange)="onResultadoChange()">
                    <mat-option [value]="'David 🎁 objeto a personajes.'">David 🎁 objeto a personajes</mat-option>
                    <mat-option [value]="'Equipo 🔵 compra en el mercado 🪙💰'">🔵 compra mercado</mat-option>
                    <mat-option [value]="'Equipo 🔴 compra en el mercado 🪙💰'">🔴 compra mercado</mat-option>
                    <mat-option
                        [value]="'Equipo azul ' + (valorPersonalizado > 0 ? '+' : '') + valorPersonalizado + ' puntos'">
                        Equipo 🔵 puntos
                    </mat-option>
                    <mat-option
                        [value]="'Equipo rojo ' + (valorPersonalizado > 0 ? '+' : '') + valorPersonalizado + ' puntos'">
                        Equipo 🔴 puntos
                    </mat-option>
                    <mat-option [value]="'otro'">Otro</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="killerLogForm.resultado === 'otro'">
                <mat-label>Resultado personalizado</mat-label>
                <input matInput [(ngModel)]="resultadoPersonalizado" name="resultadoPersonalizado" required />
            </mat-form-field>

            <hr class="separator" />
            <button mat-raised-button class="menu-button" type="submit"
                [disabled]="!killerLogForm.personajes_ids || !killerLogForm.accion || !killerLogForm.resultado">
                Crear Log
            </button>
        </form>
    </div>

    <div class="prefs" *ngIf="seccionActiva === 'eliminar-medallas'">


    </div>

    <div class="button-container">
        <button mat-raised-button class="volver" type="button" (click)="utils.navegar('admin')">
            Volver
        </button>
    </div>
</div>