<div class="container">
  <h1>BRINDER</h1>
  <span>Uniendo personas...y personajes</span>

  <div class="button-container">
    <button mat-button (click)="navegar('brinder')">
      <mat-icon class="icon material-icons-outlined">favorite_border</mat-icon>
      <span class="text">Brinder</span>
    </button>
    <button mat-button (click)="navegar('buzon/mensajes')">
      <mat-icon class="icon material-icons-outlined">email</mat-icon>
      <span class="text">Mi Buzón</span>
    </button>
    <button mat-button (click)="navegar('info')">
      <mat-icon class="icon material-icons-outlined">info</mat-icon>
      <span class="text">Información</span>
    </button>
    <button mat-button (click)="navegar('contacto')">
      <mat-icon class="icon material-icons-outlined">account_circle</mat-icon>
      <span class="text">Contacto</span>
    </button>
  </div>


  <footer class="footer">
    <span>Brinder - V1.5.4 - <a class="admin" (click)="navegar('admin')">DRMDesign</a></span>
  </footer>

</div>