<div class="container">
    <div class="title-container">
        <h2><span>KILLER X EQUIP</span><mat-icon class="icon material-symbols-outlined">skull</mat-icon><span>S</span>
        </h2>
        <!--<div class="button-container" *ngIf="filteredCharacters.length > 0">
            <button mat-button (click)="seleccionarEstado('todos')" [class.seleccionado]="estadoSeleccionado === 'todos'">
                Todos
            </button>
            <button mat-button (click)="seleccionarEstado('vivo')" [class.seleccionado]="estadoSeleccionado === 'vivo'">
                Vivos: {{ vivos }}
            </button>
            <button mat-button (click)="seleccionarEstado('muerto')"
                [class.seleccionado]="estadoSeleccionado === 'muerto'">
                Muertos: {{ muertos }}
            </button>
        </div>-->
    </div>

    <div class="button-container">
        <button mat-raised-button [class.active]="seccionActiva === 'estado'" (click)="cambiarSeccion('estado')"
            class="config">
            Estado
        </button>
        <button mat-raised-button [class.active]="seccionActiva === 'log-batalla'"
            (click)="cambiarSeccion('log-batalla')" class="config">
            Log Batalla
        </button>
    </div>

    <div class="killer-estado" *ngIf="seccionActiva === 'estado'">
        <!--<img src="assets/killer-gif.gif" alt="Cargando..." class="loading-gif">-->
        <p class="titulo"><b>FASE DE TANTEO</b></p>
        <div class="mensaje-fase">
            <span class="copy">Aprovisiónate, estudia tu estrategia, juega en equipo. La batalla está a punto de
                empezar...</span>
        </div>
        <!--<div *ngIf="personajesPendientes.length > 0">
            <span>Los equipos se están conformando.</span>
            <p>Personajes pendientes (<b>{{personajesPendientes.length}}</b>)<br>
                <span class="copy">{{personajesPendientesName}}</span>
            </p>
        </div>-->

        <div class="team-slider">
            <div class="team-container team-rojo">
                <h3>Guerreros de Jehová ({{equipoRojo.length}})</h3>
                <div class="team-grid">
                    <!-- Capitán del equipo rojo -->
                    <div class="character-card captain" *ngIf="getCapitan(equipoRojo) as capitanRojo">
                        <img [src]="capitanRojo.image_url" alt="{{ capitanRojo.name }}" class="character-image">
                        <span class="label-name">{{ capitanRojo.name }}<br>(Capi)</span>
                        <span>{{ '🛡️'.repeat(capitanRojo.escudo) }}</span>
                    </div>
                    <!-- Resto del equipo rojo -->
                    <div class="character-card" *ngFor="let character of getMiembrosSinCapitan(equipoRojo)">
                        <img [src]="character.image_url" alt="{{ character.name }}" class="character-image">
                        <span class="label-name">{{ character.name }}</span>
                        <span>{{ '🛡️'.repeat(character.escudo) }}</span>
                    </div>
                </div>
            </div>

            <div class="team-container team-azul">
                <h3>Frente Popular de Judea ({{equipoAzul.length}})</h3>
                <div class="team-grid">
                    <!-- Capitán del equipo azul -->
                    <div class="character-card captain" *ngIf="getCapitan(equipoAzul) as capitanAzul">
                        <img [src]="capitanAzul.image_url" alt="{{ capitanAzul.name }}" class="character-image">
                        <span class="label-name">{{ capitanAzul.name }}<br>(Capi)</span>
                        <span>{{ '🛡️'.repeat(capitanAzul.escudo) }}</span>
                    </div>
                    <!-- Resto del equipo azul -->
                    <div class="character-card" *ngFor="let character of getMiembrosSinCapitan(equipoAzul)">
                        <img [src]="character.image_url" alt="{{ character.name }}" class="character-image">
                        <span class="label-name">{{ character.name }}</span>
                        <span>{{ '🛡️'.repeat(character.escudo) }}</span>
                    </div>
                </div>
            </div>
        </div>

        <button mat-raised-button class="unirte" type="button" (click)="utils.navegar('mi-killer')">
            Ir a Mi Equipo
        </button>
    </div>

    <div class="killer-estado" *ngIf="seccionActiva === 'log-batalla'">
        <!--<img src="assets/killer-gif.gif" alt="Cargando..." class="loading-gif">-->
        <p class="titulo"><b>LOG DE BATALLA</b></p>
        <p class="copy">Aquí podrás ver el estado de la batalla</p>
        <div class="mensaje-fase">
            <div class="acciones">
                <span>🔴 {{killerLogRojo.length}} acc...</span>
                <span>🔵 {{killerLogAzul.length}} acc...</span>
            </div>
        </div>

        <div class="log">
            <ng-container *ngFor="let log of killerLog; let i = index">

                <!-- Mostrar encabezado de fecha solo si cambia el día -->
                <div *ngIf="i === 0 || (log.fecha | date:'dd/MM/yyyy') !== (killerLog[i - 1].fecha | date:'dd/MM/yyyy')"
                    class="log-dia">
                    {{ log.fecha | date:'dd/MM/yyyy' }}
                </div>

                <div class="log-entry"
                    [ngClass]="{'log-rojo': log.equipo === 'rojo', 'log-azul': log.equipo === 'azul'}">

                    <div class="log-hora">{{ log.fecha | date:'HH:mm' }}</div>

                    <div class="log-linea">
                        <strong>{{ log.personaje_name }}</strong> usa<br>
                        <strong>{{ log.accion }}</strong><br>
                        <ng-container *ngIf="log.personaje_objetivo_name">
                            contra <strong>{{ log.personaje_objetivo_name }}</strong>
                        </ng-container>
                    </div>

                    <div class="log-resultado">{{ log.resultado }}</div>
                </div>
            </ng-container>
        </div>



    </div>

    <div class="button-container-secondary">
        <button class="actualizar-log" mat-raised-button (click)="obtenerKillerLog()"
            *ngIf="seccionActiva === 'log-batalla'">
            <mat-icon>refresh</mat-icon>
            Actualizar
        </button>
        <button mat-raised-button class="volver" type="button" (click)="utils.navegar('inicio')">
            Volver
        </button>
    </div>

</div>