<div class="container">
    <div class="title-container">
        <h2><span>KILLER X EQUIP</span><mat-icon class="icon material-symbols-outlined">skull</mat-icon><span>S</span>
        </h2>
    </div>

    <div class="button-container">
        <button mat-raised-button [class.active]="seccionActiva === 'estado'" (click)="cambiarSeccion('estado')"
            class="config">
            Estado
        </button>
        <button mat-raised-button [class.active]="seccionActiva === 'log-batalla'"
            (click)="cambiarSeccion('log-batalla')" class="config">
            Log Batalla
        </button>
    </div>

    <div class="killer-estado" *ngIf="seccionActiva === 'estado'">
        <!--<img src="assets/killer-gif.gif" alt="Cargando..." class="loading-gif">-->
        <p class="titulo"><b>{{configKiller.fase_killer | uppercase }}</b></p>
        <div class="mensaje-fase">
            <span class="copy">{{configKiller.subtitulo}}</span>
            <div class="acciones">
                <span>🔴 {{puntosRojo}} pts</span>
                <span>VS</span>
                <span>🔵 {{puntosAzul}} pts</span>
            </div>
        </div>
        <!--<div *ngIf="personajesPendientes.length > 0">
            <span>Los equipos se están conformando.</span>
            <p>Personajes pendientes (<b>{{personajesPendientes.length}}</b>)<br>
                <span class="copy">{{personajesPendientesName}}</span>
            </p>
        </div>-->

        <div class="team-slider">
            <div class="team-container team-rojo">
                <h3>Guerreros de Jehová ({{vivosRojo}}/{{equipoRojo.length}})</h3>
                <div class="team-grid">
                    <!-- Capitán del equipo rojo -->
                    <div class="character-card captain" *ngIf="getCapitan(equipoRojo) as capitanRojo"
                        [ngClass]="{'crucificado': capitanRojo.vida === 0}">
                        <img [src]="capitanRojo.vida === 1 ? capitanRojo.image_url : 'assets/crucifixion.png'"
                            alt="{{ capitanRojo.name }}" class="character-image">
                        <span class="label-name">{{ capitanRojo.name }}<br>(Capi)</span>
                        <span>{{ '🛡️'.repeat(capitanRojo.escudo) }}</span>
                    </div>
                    <!-- Resto del equipo rojo -->
                    <div class="character-card" *ngFor="let character of getMiembrosSinCapitan(equipoRojo)"
                        [ngClass]="{'crucificado': character.vida === 0}">
                        <img [src]="character.vida === 1 ? character.image_url : 'assets/crucifixion.png'"
                            alt="{{ character.name }}" class="character-image">
                        <span class="label-name">{{ character.name }}</span>
                        <span>{{ '🛡️'.repeat(character.escudo) }}</span>
                    </div>
                </div>
            </div>

            <div class="team-container team-azul">
                <h3>Frente Popular de Judea ({{vivosAzul}}/{{equipoAzul.length}})</h3>
                <div class="team-grid">
                    <!-- Capitán del equipo azul -->
                    <div class="character-card captain" *ngIf="getCapitan(equipoAzul) as capitanAzul"
                        [ngClass]="{'crucificado': capitanAzul.vida === 0}">
                        <img [src]="capitanAzul.vida === 1 ? capitanAzul.image_url : 'assets/crucifixion.png'"
                            alt="{{ capitanAzul.name }}" class="character-image">
                        <span class="label-name">{{ capitanAzul.name }}<br>(Capi)</span>
                        <span>{{ '🛡️'.repeat(capitanAzul.escudo) }}</span>
                    </div>
                    <!-- Resto del equipo azul -->
                    <div class="character-card" *ngFor="let character of getMiembrosSinCapitan(equipoAzul)"
                        [ngClass]="{'crucificado': character.vida === 0}">
                        <img [src]="character.vida === 1 ? character.image_url : 'assets/crucifixion.png'"
                            alt="{{ character.name }}" class="character-image">
                        <span class="label-name">{{ character.name }}</span>
                        <span>{{ '🛡️'.repeat(character.escudo) }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="killer-estado" *ngIf="seccionActiva === 'log-batalla'">
        <!--<img src="assets/killer-gif.gif" alt="Cargando..." class="loading-gif">-->
        <p class="titulo"><b>LOG DE BATALLA</b></p>
        <p class="copy">Aquí podrás ver el estado de la batalla</p>

        <div class="mensaje-fase">
            <div class="acciones">
                <span>🟥 {{killerLogRojo.length}} acc</span>
                <mat-icon class="material-symbols-outlined" (click)="toggleFiltro()">{{ mostrarFiltro ? 'filter_alt_off'
                    : 'filter_alt' }}</mat-icon>
                <span>🟦 {{killerLogAzul.length}} acc</span>
            </div>
        </div>

        <!-- Filtro por personaje, fecha y equipo -->
        <div class="filter-wrapper">
            <div class="filter-container" [class.visible]="mostrarFiltro" style="display: flex; gap: 1rem;">

                <div class="custom-filter">
                    <label class="filter-label">Personaje</label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="personajeSeleccionado" (selectionChange)="filtrarLog()">
                            <mat-option [value]="null">Todos</mat-option>
                            <mat-option *ngFor="let personaje of characters" [value]="personaje.name">
                                {{ personaje.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="custom-filter">
                    <label class="filter-label">Fecha</label>
                    <mat-form-field appearance="fill">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="fechaSeleccionada"
                            (dateChange)="filtrarLog()" />
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="custom-filter">
                    <label class="filter-label">Equipo</label>
                    <mat-form-field appearance="fill">
                        <mat-select [(value)]="equipoSeleccionado" (selectionChange)="filtrarLog()">
                            <mat-option [value]="null">Todos</mat-option>
                            <mat-option value="rojo">Rojo</mat-option>
                            <mat-option value="azul">Azul</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            </div>
        </div>



        <div class="log">
            <ng-container *ngFor="let log of killerLogFiltrado; let i = index">

                <!-- Mostrar encabezado de fecha solo si cambia el día -->
                <div *ngIf="i === 0 || (log.fecha | date:'dd/MM/yyyy') !== (killerLogFiltrado[i - 1].fecha | date:'dd/MM/yyyy')"
                    class="log-dia">
                    {{ log.fecha | date:'dd/MM/yyyy' }}
                </div>

                <div class="log-entry"
                    [ngClass]="{'log-rojo': log.equipo === 'rojo', 'log-azul': log.equipo === 'azul'}">

                    <div class="log-img" *ngIf="log.accion !== 'puntos'"><img [src]="log.image_url"></div>
                    <div class="log-hora">{{ log.fecha | date:'HH:mm' }}</div>

                    <div class="log-linea" *ngIf="log.accion !== 'puntos'">
                        <strong>{{ log.personaje_name }}</strong> {{log.accion === 'Crucifixión' ? 'sufre la' :
                        'usa'}}<br>
                        <strong>{{ log.accion }}</strong><br>
                        <ng-container *ngIf="log.personaje_objetivo_name">
                            {{log.accion === 'Cambio de Alpargatas' ? 'con' : 'contra'}} <strong>{{
                                log.personaje_objetivo_name }}</strong>
                        </ng-container>
                    </div>

                    <div class="log-resultado">{{ log.resultado }}</div>
                </div>
            </ng-container>
        </div>
    </div>

    <div class="button-container-secondary">

        <button mat-raised-button class="unirte" type="button" (click)="utils.navegar('mi-killer')">
            Mi Equipo
        </button>
        <button class="actualizar-log" mat-raised-button
            (click)="seccionActiva === 'log-batalla' ? obtenerKillerLog() : obtenerKillerConfig()">
            <mat-icon>refresh</mat-icon>
            Actualizar
        </button>
        <button mat-raised-button class="volver" type="button" (click)="utils.navegar('inicio')">
            Volver
        </button>
    </div>

</div>