<div class="container">
    <div class="title-container">
        <h2><span>KILLER X EQUIP</span><mat-icon class="icon material-symbols-outlined">skull</mat-icon><span>S</span>
        </h2>
        <p></p>
        <div class="button-container" *ngIf="filteredCharacters.length > 0">
            <!--<button mat-button (click)="seleccionarEstado('todos')" [class.seleccionado]="estadoSeleccionado === 'todos'">
                Todos
            </button>-->
            <button mat-button (click)="seleccionarEstado('vivo')" [class.seleccionado]="estadoSeleccionado === 'vivo'">
                Vivos: {{ vivos }}
            </button>
            <button mat-button (click)="seleccionarEstado('muerto')"
                [class.seleccionado]="estadoSeleccionado === 'muerto'">
                Muertos: {{ muertos }}
            </button>
        </div>
    </div>

    <div class="characters-table" *ngIf="filteredCharacters.length > 0">
        <div class="character-row" *ngFor="let row of filteredCharacters">
            <div class="character-card" [class.muerto]="row.estado === 'muerto'">
                <div class="red-cross"></div>
                <img [src]="row.image_url" class="character-image">
                <p>{{ row.name }}</p>
                <span *ngIf="row.estado === 'vivo'">VIVO</span>
                <span *ngIf="row.estado === 'muerto'">MUERTO</span>
            </div>
        </div>
    </div>

    <div class="proximamente">
        <img src="assets/killer-gif.gif" alt="Cargando..." class="loading-gif">
        <p><b>FASE DE EQUIPOS</b></p>
        <div *ngIf="personajesPendientes.length > 0">
            <span>Los equipos se están conformando.</span>
            <p>Personajes pendientes (<b>{{personajesPendientes.length}}</b>)<br>
                <span class="copy">{{personajesPendientesName}}</span>
            </p>
        </div>
        <div *ngIf="personajesPendientes.length === 0">
            <p>Elección de capitán o capitana</p>
        </div>

        <div class="team-slider">
            <div class="team-container team-rojo">
                <h3>Equipo Rojo ({{equipoRojo.length}})</h3>
                <div class="team-grid">
                    <!-- Capitán del equipo rojo -->
                    <div class="character-card captain" *ngIf="getCapitan(equipoRojo) as capitanRojo">
                        <img [src]="capitanRojo.image_url" alt="{{ capitanRojo.name }}" class="character-image">
                        <span class="label-name">{{ capitanRojo.name }}<br>(Capi)</span>
                    </div>
                    <!-- Resto del equipo rojo -->
                    <div class="character-card" *ngFor="let character of getMiembrosSinCapitan(equipoRojo)">
                        <img [src]="character.image_url" alt="{{ character.name }}" class="character-image">
                        <span class="label-name">{{ character.name }}</span>
                    </div>
                </div>
            </div>

            <div class="team-container team-azul">
                <h3>Equipo Azul ({{equipoAzul.length}})</h3>
                <div class="team-grid">
                    <!-- Capitán del equipo azul -->
                    <div class="character-card captain" *ngIf="getCapitan(equipoAzul) as capitanAzul">
                        <img [src]="capitanAzul.image_url" alt="{{ capitanAzul.name }}" class="character-image">
                        <span class="label-name">{{ capitanAzul.name }}<br>(Capi)</span>
                    </div>
                    <!-- Resto del equipo azul -->
                    <div class="character-card" *ngFor="let character of getMiembrosSinCapitan(equipoAzul)">
                        <img [src]="character.image_url" alt="{{ character.name }}" class="character-image">
                        <span class="label-name">{{ character.name }}</span>
                    </div>
                </div>
            </div>
        </div>

        <button mat-raised-button class="unirte" type="button" (click)="utils.navegar('mi-killer')">
            Unirte a un equipo
        </button>
    </div>

    <div>
        <button mat-raised-button class="volver" type="button" (click)="utils.navegar('inicio')">
            Volver
        </button>
    </div>

</div>